/* src/components/landing/ForWhom/ForWhomSection.module.css */

.section {
  padding-top: 40px;
}

.list {
  margin: 26px 0 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  color: var(--fg-soft);
  max-width: 720px;
}

.list li + li {
  margin-top: 10px;
}

.list strong {
  color: var(--fg);
}
